body { background: black; }
#info-panel { width:75%; color:white; float:left; }
#alerts-container { width:25%; color:white; float:right; }
#title-container { padding: 2px; width: 100%; 24px; color:white; float:left; }
#title { padding-right: 20px; 24px; float:left; }
#turn-count { width:72px; float:left; }
#player { width:200px; float:left; }

.unit { max-width: 250px; margin: 2px 30px 5px 0px; padding: 2px; float:left; border: 1px dotted white; }
.report { display:block; padding-bottom: 5px; width: 100%; float:left;  }
.icon { float: left; }
