body {
  font-family: sans-serif, Times, serif;
  margin: 0;
  background: black;
  color:white;
}
#front-page {}
#game-container {
  display: none;
  width: 100%;

  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
div#battles { display:none; }
.panel { display: inline-block; vertical-align: top; }
#info-panel { min-height: 100px; color:white; display:inline-block; }
#alerts-container { width: 40%; color:white; float:right; }
.alert { display:inline-block; }
#status-container { width: 45%; float:left; min-width: 510px; }
#title { padding-right: 20px; 24px; float:left; }
#turn-count { width:72px; float:left; }
#player { width:125px; float:left; }
#will-text {
  width:200px;
}
#will-container { margin-top: 6px; width: 452px; float:left; }
.bar-container { width: 49%; float:left; }
.bar-container {
  border: 1px solid white;
}
.will {
  float: left;
}
.will.bar {
  background-repeat:repeat;
  width: 100%;
  height: 10px;
}
.will.blue {
  background-image:url("../assets/colour_bar-blue.png");
  float: right;
}
.will.white {
  background-image:url("../assets/colour_bar-white.png");
  float: left;
}

#input-container { display:block; }
#menu { display:block; }
.input-item { display:inline-block; }
input#new-map { display: none; }
input#play-again { display: none; }
input#done-playing { display: none; }
input#surrender { display: none; }

#options { display: none; border: 1px dotted white; }
div.option_set { margin: 5px 0; }
#options-waiting { display: none; }
#starting-game { display: none; }

div#instructions { display:block; max-width: 700px; margin: 0 5px; }
div#instructions ul { list-style-type: disc; }
#save-output { color:white; }
#menu-toggle-button { display: none; }

.battle { cursor: pointer; }
.report { display:inline-block; padding-bottom: 5px; width: 100%; }
div#units-panel .unit .icon { display:inline-block; }

#tool-bar { position: relative; display: none; height: 32px; font-family: sans-serif, Times, serif; font-size: 18px; }
/*
#tool-bar div { padding: 4px 30px 4px 4px; }
*/
#tool-bar input[type=button] { float:right; font-family: sans-serif, Times, serif; padding: 0; border: 0; margin:0 0 0 4px; font-size:26px; height: 100%; }
#tool-bar input#overlays { font-size: 18px; padding: 3px; height: 80%; }
#tool-bar #menus { padding: 0; }

.victory { margin: 10px 5px; }
.victory.title { font-size: 30px; }
.victory.outcome { font-size: 24px; }
.victory.message { font-size: 16px; margin-bottom: 20px; }

.not-applicable, .unavailable { color: red; }
