/* Why is the below styling not working? */
div#chat { float: left; width:100%; color: black; }
form.chat { padding: 3px; float:left;
  bottom: 0; width: 100%; }
form input.chat { border: 0; padding: 10px; width: 90%;
  margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224,
  255); border: none; padding: 10px; }
ul { list-style-type: none; margin: 0; min-height: 400px;
  padding: 0; float: left; }
#messages { background-color: white; width: 65%; max-height: 400px; overflow-y: scroll }
#online-users { background-color: white; margin-left: 15px; width: 30%; }
#ul li { padding: 5px 10px; }
#messages li:nth-child(odd) {
  background: #eee; }
#online-users li:nth-child(even) {
  background: #eee; }
