body { margin: 0; background: black; color:white; }
#front-page {}
#game-container { display: none; width: 100%; float:left; }
#info-panel { width:35%; min-height: 100px; color:white; float:left; }
#alerts-container { width:65%; color:white; float:right; }
#title-container { padding: 2px; width: 100%; 24px; color:white; float:left; }
#status-container { width: 45%; float:left; min-width: 510px; }
#title { padding-right: 20px; 24px; float:left; }
#turn-count { width:72px; float:left; }
#player { width:125px; float:left; }
#will-text {
  width:200px;
}
#will-container { margin-top: 6px; width: 452px; float:left; }
.bar-container { width: 49%; float:left; }
.bar-container {
  border: 1px solid white;
}
.will {
  float: left;
}
.will.bar {
  background-repeat:repeat;
  width: 100%;
  height: 10px;
}
.will.blue {
  background-image:url("assets/colour_bar-blue.png");
  float: right;
}
.will.white {
  background-image:url("assets/colour_bar-white.png");
  float: left;
}

#input-container { display:block; float:left; }
#input-container:before { display:block; content:""; }
#menu { display:block; }
.input-item { float:left; }

#options { border: 1px dotted white; }
#save-output { color:white; }
#menu-toggle-button { display: none; }

.unit { max-width: 350px; margin: 2px 30px 5px 0px; padding: 2px; float:left; border: 1px dotted white; cursor: pointer; }
/*
.unit-item { float: left; display: block; }
*/
.battle { border: 1px dotted white; cursor: pointer; }
.report { display:block; padding-bottom: 5px; width: 100%; float:left;  }
.icon { float: left; }

#tool-bar { width: 100%; height: 32px; font-family: sans-serif, Times, serif; font-size: 18px; }
#tool-bar div { float:left; padding: 4px 30px 4px 4px; }
#tool-bar input { float:right; font-family: sans-serif, Times, serif; padding: 0; border: 0; margin:0; font-size:26px; height: 100%; }

column { float: left; }
