body { background: black; color:white; }
#front-page {}
#game-container { display: none; }
#info-panel { width:35%; color:white; float:left; }
#alerts-container { width:65%; color:white; float:right; }
#title-container { padding: 2px; width: 100%; 24px; color:white; float:left; }
#status-container { width: 45%; float:left; min-width: 510px; }
#title { padding-right: 20px; 24px; float:left; }
#turn-count { width:72px; float:left; }
#player { width:125px; float:left; }
#will-text {
  width:200px;
}
#will-container { width: 452px; float:left; }
.bar-container { width: 49%; float:left; }
.bar-container {
  border: 1px solid white;
}
.will {
  float: left;
}
.will.bar {
  background-repeat:repeat;
  width: 100%;
  height: 10px;
}
.will.blue {
  background-image:url("assets/colour_bar-blue.png");
  float: right;
}
.will.white {
  background-image:url("assets/colour_bar-white.png");
  float: left;
}

#input-container { width:100%; float:left; }
.input-item { float:left; }

#options { border: 1px dotted white; }
#save-output { color:white; }
#menu-toggle-button { display: none; }

.unit { max-width: 350px; margin: 2px 30px 5px 0px; padding: 2px; float:left; border: 1px dotted white; cursor: pointer; }
/*
.unit-item { float: left; display: block; }
*/
.battle { border: 1px dotted white; cursor: pointer; }
.report { display:block; padding-bottom: 5px; width: 100%; float:left;  }
.icon { float: left; }

column { float: left; }
