#units-info-panel { position: relative; }

.unit-info-panel {
  position: absolute; 
  bottom: 0px;
  left: 0px;
  display: none;
  border: 1px white solid;
  padding: 5px;
  min-height: 160px;
  min-width: 180px;
  z-index: 2000;
  background-color: white;
  color: black;
}
